.button, .button:selected, .button:armed, .button:focused, .button:selected:focused {
    -fx-color: -fx-base ;
    -fx-background-color: #dddddd ;
    -fx-background-insets: 0;
    -fx-border-radius: 2;
    -fx-padding-left: 10 ;
    -fx-padding-right: 10 ;
    -fx-text-fill: -fx-text-background-color ;
}

.button:hover {
    -fx-background-color: #cccccc ;
}
.button:pressed {
    -fx-background-color: #dddddd ;
}

.icon-button, .icon-button:selected, .icon-button:armed, .icon-button:focused, .icon-button:selected:focused {
    -fx-color: -fx-base ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0;
    -fx-border-radius: 2;
    -fx-padding-left: 10 ;
    -fx-padding-right: 10 ;
    -fx-text-fill: -fx-text-background-color ;
}

.icon-button:hover {
    -fx-background-color: #dddddd ;
}
.icon-button:pressed {
    -fx-background-color: transparent ;
}

.search-button, .search-button:selected, .search-button:armed, .search-button:focused, .search-button:selected:focused {
    -fx-color: -fx-base ;
    -fx-background-color: #4ac3ff ;
    -fx-background-insets: 0;
    -fx-border-radius: 2;
    -fx-padding-left: 10 ;
    -fx-padding-right: 10 ;
    -fx-text-fill: -fx-text-background-color ;
}

.search-button:hover {
    -fx-background-color: #34b7f8 ;
}
.search-button:pressed {
    -fx-background-color: #4ac3ff ;
}

.list-cell {
    -fx-background-color: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #4ac3ff;
    -fx-text-fill: black;
}

.list-cell:filled:hover {
    -fx-background-color: #eeeeee;
}

.list-view {
    -fx-border-radius: 2;
    -fx-background-color: -fx-base;
    -fx-border-color: #bbbbbb;
    -fx-border-width: 1;
}

.split-pane .split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: #bbbbbb;
    -fx-border-width: 0 1 0 0;
}

.scroll-pane {
    -fx-border-color: -fx-base;
}